html,
body {
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
}

h1,
h2 {
    color: #65201a;
}

h3, 
p,
li {
    color: #65201a;
}

h3 {
    padding: 0;
}

p {
    text-align: left;
    line-height: 1.2em;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

main {
    margin: 0 20%;
}

nav {
    background-color: beige;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: #65201a;
    margin-right: 25px;
}

nav a:hover {
    color: #ad9230;
}

#banner {
    width: 30%;
    height: auto;
    /* background-color: white; */
}

#banner img {
    width: 50%;
    height: auto;
}

.service {
    display: inline-block;
    background-color: white;
    border: 5px solid #ad9230;
    border-radius: 5px;
    color: #65201a;
    font-size: 2em;
    padding: 10px 20px;
    margin: 10px;
}

table {
    border: 3px solid black;
    width: 100%;
}
  
td,
th {
    border: 1px solid black;
    padding: 5px;
}

.about-img {
    max-width: 40%;
    float: left;
    padding: 0 20px 10px 0;
}

ul.locations {
    list-style: none;
    padding: 0;
}

.contact-content {
    display: inline-block;
}